.App {
  text-align: center;
  align-items: center;
  font-size: 50px;
}


form {
  text-align: center;
}

html{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}
